#navi{
    
    padding-top:10px; 
    padding-left:20px;
    padding-bottom:10px; 
    background-color:#b4b0b0dc ;
    
} 

#unorder{
    display:flex;
    justify-content:space-between;
    padding : 10px;
}